@use './variables.scss' as *;

@mixin img-list-styles {
	border-radius: $image-default-border-radius;
	width: $image-default-width;
	height: $image-default-height;
}

@mixin img-stack-styles {
	display: block;
	max-width: $image-max-width-content;
	min-width: $image-min-width-content;
	max-height: $image-max-height-content;
	min-height: $image-min-height-content;
	width: 300px;

	border-radius: 4px;
}
