@use './variables.scss' as *;

@mixin input-styles {
	background-color: transparent;
	border: none;
	padding: 4px 8px;
	font-size: clamp(1rem, 1.2vw, 1.9rem);
	outline: none;
	min-width: 200px;
	max-width: 400px;
	width: 100%;
	margin-right: auto;
	margin-left: 40px;
	padding: 6px 8px;
	border-radius: 8px;

	&[type='file'] {
		display: none;
	}

	&:focus {
		outline: 2px solid $primary-color;
	}
}
