@use '../../styles/variables.scss' as *;

@use '../../styles/liMixins.scss' as *;
@use '../../styles/_postMixins.scss' as *;

.ulList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	min-height: 20vh;
	height: max-content;
	padding: 16px;
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.ulStack {
	columns: 9;
	overflow: hidden;
	padding: 24px;
	margin: auto;
	
	li {
		@include li-styles;
	}
}

.postList {
	@include post-styles;
	border: 1px solid rgb(155, 0, 155);
	padding: 6px 8px;
}

.postStack {
	// width: max-content;
	// height: max-content;

	overflow: hidden;
	max-width: 300px;
	max-height: 200px;
}
