.modal {
	inset: 0;
	display: none;
	position: fixed;
	background: rgba(0,0,0,0.6);
}

.modalContent {
	padding: 25px;
	background: blueviolet;
	border-radius: 16px;
	min-width: 250px;
	color: white;
}

.modal.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
